<%= form_for(@user) do |f| %>

<p><%= f.label :first_kanji ,'漢字(姓)' %>
<%= f.text_field :first_kanji %>

<%= f.label :last_kanji ,'漢字(名)' %>
<%= f.text_field :last_kanji %></p>

<p><%= f.label :first_kana ,'カナ(姓)' %>
<%= f.text_field :first_kana %>

<%= f.label :last_kana ,'カナ(名)' %>
<%= f.text_field :last_kana %></p>

<p><%= f.label :first_name ,'ローマ字(姓)' %>
<%= f.text_field :first_name %>

<%= f.label :last_name ,'ローマ字(名)' %>
<%= f.text_field :last_name %></p>

<p><%= f.label :gender,'男性' %>
<%= f.radio_button :gender , '男性' %>
<%= f.label :gender,'女性' %>
<%= f.radio_button :gender , '女性' %></p>

<p><%= f.label :email,'メールアドレス' %>
<%= f.email_field :email %></p>

<p><%= f.label :password,'パスワード'%>
<%= f.password_field :password %></p>

<p>
    <%= f.label :password_confirmation , 'パスワード確認' %>
    <%= f.password_field :password_cofirmation %>
</p>

<p><%= f.label :birth, '生年月日' %>
<%= f.date_field :birth %></p>

<p><%=f.label :work_place, '勤務先' %>
<%= f.text_field :work_place %></p>

<p><%= f.label :high_school ,'高校' %>
<%= f.text_field :high_school %></p>

<p><%= f.label :university, '大学' %>
<%= f.text_field :university %></p>

<p><%= f.label :graduate_school , '大学院' %>
<%= f.text_field :graduate_school %></p>

<%= f.submit '登録' %>
<% end %>