
<div id="micropost<%=micropost.id %>">
  <% @micropost = micropost %>

    
    <p><%= micropost.user.first_kanji %> <%= micropost.user.last_kanji %>さん<br />
    
    
    <%= micropost.content %>
    
    
    
    <%  if  current_user.following?(@user) && @following_relationships.status == 1 || current_user.follower?(@user)  &&  @follower_relationships.status == 1  %>
        <%= render partial:'shared/comment_form' , locals:{comments: @micropost.comments} %>
    <% end %>
    
    <div id="comments<%=micropost.id %>">
        <%= render  partial: 'comments/comment' ,collection: @micropost.comments %>
    </div>
        

    
    
    
    <%- if current_user == micropost.user %>
    
    <%= link_to "削除", micropost , method: :delete , data:{confirm: "削除してよろしいですか？"} %>
    
    <% end %>
</div> 
<hr />